
@inherits System.Web.Mvc.WebViewPage<ProgressTen.Infrastructure.ViewModels.LoginViewModel>
			  
@{
	ViewBag.Title = "ProgressTen - Reset Password";
}

@section Menu{
	@Html.Partial("_openMenu")
}

<script language="javascript" type="text/javascript">

	$(document).ready(function () {
		$("#EmailAddress").focus();
	});

</script>

<div class="span-6">&nbsp;</div>
<div class="span-10 coverBar">

    <h3>Reset Password</h3>

    <form action="ResetPassword" method="post">

        <div class="prepend-1 span-8 last">
			@Html.ValidationMessageFor(m => m.EmailAddress)
			<br />
            @Html.LabelFor(m => m.EmailAddress, "Email Address")
			<br />
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "loginTextBox", id = "EmailAddress" } )
        </div>
        
        <div class="span-9 last">&nbsp;</div>
        
        <div class="prepend-1 span-8 last">
			<input type="submit" value="Reset Password" />
		</div>
        
        <div class="span-9 last">&nbsp;</div>
        
        <div class="prepend-1 span-8 last">
			@Html.HiddenFor(m => m.Password)
			@Html.ValidationMessageFor(m => m.FailureMessage)
		</div>

    </form>

</div>
<div class="span-8 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>