
@inherits System.Web.Mvc.WebViewPage<ProgressTen.Infrastructure.ViewModels.DisplayClubViewModel>

<div class="span-21 last">&nbsp;</div>

<div class="span-21 last">
	<div class="span-21 last headerBar">
		<h4>Club Applications</h4>
	</div>

	<div class="span-21 last">
		<table class="width100pc">
			<tr>
				<th>
					Club Name
				</th>
				<th>
					Location
				</th>
				<th>
					Representative
				</th>
				<th>
					Email Address
				</th>
				<th>
					Date Submitted
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>

			@{
				foreach (var club in Model.ClubsApplied)
				{
					<tr>
						<td>
							@(club.FullName + " (" + club.Acronym.ToUpper() + ")")
						</td>
						<td>
							@(club.City + ", " + club.State)
						</td>
						<td>
							@club.RegisteringDriver.FullName
						</td>
						<td>
							@club.RegisteringDriver.EmailAddress
						</td>
						<td>
							@club.DateCreated.ToString("MM/dd/yyyy")
						</td>
						<td>
							<a href="@("http://" + Request.Url.Authority + "/Club/Approve/" + club.ClubId)">Approve</a>
						</td>
						<td>
							<a href="@("http://" + Request.Url.Authority + "/Club/Decline/" + club.ClubId)">Decline</a>
						</td>
					</tr>
				}
			}
		</table>
	</div>

	<div class="span-21 last">&nbsp;</div>
	<div class="span-21 last">&nbsp;</div>
	<div class="span-21 last">&nbsp;</div>
	
	<div class="span-21 last headerBar">
		<h4>Active Clubs</h4>
	</div>

	<div class="span-21 last">
		<table class="width100pc">
			<tr>
				<th>
					Club Name
				</th>
				<th>
					Location
				</th>
				<th>
					President
				</th>
				<th>
					Email Address
				</th>
				<th>
					Date Activated
				</th>
				<th>
					&nbsp;
				</th>
			</tr>

			@{
				foreach (var club in Model.ActiveClubs)
				{
					<tr>
						<td>
							@(club.FullName + " (" + club.Acronym.ToUpper() + ")")
						</td>
						<td>
							@(club.City + ", " + club.State)
						</td>
						<td>
							@club.CurrentPresident.FullName
						</td>
						<td>
							@club.CurrentPresident.EmailAddress
						</td>
						<td>
							@(club.DateActivated.HasValue ? club.DateActivated.Value.ToString("MM/dd/yyyy") : string.Empty)
						</td>
						<td>
							<a href="@("http://" + Request.Url.Authority + "/Club/Edit/" + club.ClubId)">Edit</a>
						</td>
					</tr>
				}
			}
		</table>
	</div>

	<div class="span-1 last">&nbsp;</div>
</div>
