
@inherits System.Web.Mvc.WebViewPage<ProgressTen.Infrastructure.ViewModels.DisplayClubViewModel>
			  
@section Menu{
	@{
		if (User.Identity.IsAuthenticated)
		{
			@Html.Partial("_logoutMenu")
		}
		else
		{
			@Html.Partial("_openMenu")
		}
	}
}

<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.position.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.autocomplete.js")" type="text/javascript"></script>

<script type="text/javascript" language="javascript">

	$(document).ready(function () {

		$("#tabs").tabs();

		$("#clubName").autocomplete({
			minLength: 2,
			source: function (request, response) {

				$.ajax({
					url: "http://" + document.location.host + "/Ajax/GetClubSuggest",
					type: "POST",
					dataType: "json",
					data: { searchText: request.term },
					success: function (data) {
						response($.map(data, function (item) {
							return { label: item.DisplayName, value: item.DisplayName, id: item.ClubId }
						}))
					}
				})
			},
			select: function (event, ui) {
				document.location = "http://" + document.location.host + "/Club/" + ui.item.id;
			}
		});
	});

	function changeSeries(clubId) {
		var selectedSeriesId = $("#changeSeries :selected").val();

		document.location = "http://" + document.location.host + "/Club/" + clubId + "/Series/" + selectedSeriesId;
	}

	function changeResults(clubId) {
		var selectedEventId = $("#SelectedEvent :selected").val();
		var currentSeriesId = $("#CurrentSeriesId").val();

		if (selectedEventId == "-1") {
			return false;
		}

		document.location = "http://" + document.location.host + "/Club/" + clubId + "/Series/" + currentSeriesId + "/Event/" + selectedEventId + "?selectedTab=#Results";
	}

</script>

<div class="span-24 last coverBar">
	
	<div class="span-12"><h3>@(Model.Club != null ? Model.Club.DisplayName : "No Club Found")</h3></div>
	
	<div class="span-12 last alignRight">Change Club (** to list all clubs)&nbsp;&nbsp;&nbsp;<input id="clubName" type="text" class="width200" /></div>

</div>

<div class="span-1">&nbsp;</div>

<div class="span-22" id="tabs">
	<input type="hidden" id="CurrentSeriesId" value="@(Model.CurrentSeries != null ? Model.CurrentSeries.SeriesId.ToString() : string.Empty)" />
	@{
		if (Model.Club != null)
		{
			<text>&nbsp;Season:&nbsp;</text>
			<select id="changeSeries" onchange="changeSeries(@(Model.Club.ClubId))">
				@{
					if (@Model.AvailableSeries.Count > 0)
					{
						foreach (var series in @Model.AvailableSeries.OrderBy(s => s.BeginDate).ToList())
						{
							var selected = series.SeriesId == Model.CurrentSeries.SeriesId;
					
							<option value="@(series.SeriesId)"@(selected ? " selected='selected'" : string.Empty)>@series.Name</option>
						}
					}
					else
					{
						<option value="-2" >No Series Added</option>
					}
				}
			</select>
		}
	 }

		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
		@{
			if (Model.Club != null)
			{
				if ((User.IsInRole("ClubAdmin_" + Model.Club.ClubId) || User.IsInRole("SiteAdmin")))
				{
					<a href="@("http://" + Request.Url.Authority + "/Series/Add/" + Model.Club.ClubId)">Add New Series</a>
				}
			}
		}
	

	<ul>
		@{
			if (Model.Club != null)
			{
				<li><a href="#Schedule">Schedule</a></li>
				<li><a href="#Results">Results</a></li>
				<li><a href="#Standings">Standings</a></li>
				<li><a href="#Locations">Locations</a></li>
			}

			if (User.Identity.IsAuthenticated)
			{
				<li><a href="#Profile">Profile</a></li>
			}

			if (Model.Club != null && (User.IsInRole("ClubAdmin_" + Model.Club.ClubId) || User.IsInRole("SiteAdmin")))
			{
					<li><a href="#Drivers">Drivers</a></li>
			}

			if (User.IsInRole("SiteAdmin"))
			{
					<li><a href="#Clubs">Clubs</a></li>
			}
		}
	</ul>
	
	
	@{
		if (Model.Club != null)
		{
			<div id="Schedule">
				@Html.Partial("_schedule", Model)
			</div>

			<div id="Results">
				@Html.Partial("_results", Model)
			</div>

			<div id="Standings">
				@Html.Partial("_standings", Model)
			</div>

			<div id="Locations">
				@Html.Partial("_locations", Model)
			</div>
		}

		if (User.Identity.IsAuthenticated)
		{
			<div id="Profile">
				@Html.Partial("_driverProfile", Model)
			</div>
		}

		if (Model.Club != null && (User.IsInRole("ClubAdmin_" + Model.Club.ClubId) || User.IsInRole("SiteAdmin")))
		{
			<div id="Drivers">
				@Html.Partial("_driverManagement", Model)
			</div>
		}

		if (User.IsInRole("SiteAdmin"))
		{
			<div class="span-22 last" id="Clubs">
				@Html.Partial("_clubManagement", Model)
			</div>
		}
	}

</div>

<div class="span-1 last">&nbsp;</div>
