
@inherits System.Web.Mvc.WebViewPage<ProgressTen.Infrastructure.ViewModels.RegisterClubViewModel>

@section Menu{
	@Html.Partial("_openMenu")
}

<div class="span-4">&nbsp;</div>
<div class="span-14 coverBar">

    <h3>Register Your Club</h3>
	
	<div class="span-18 last">&nbsp;</div>

	<p>To cut down on illegitimate registrations, you can only register your club if you are verifiable as your club's 
		president or authorized contact person.</p>

    <form action="Register" method="post">

		<div class="prepend-1 span-12 append-1 last">

			<div class="span-12 last coverBar">

				<h4>Club Information</h4>

				<div class="prepend-1 span-5">
					@Html.ValidationMessageFor(m => m.FullName)
					<br />
					@Html.LabelFor(m => m.FullName, "Full Name of Club")
					<br />
					@Html.TextBoxFor(m => m.FullName, new { @class = "width160" })
				</div>
		
				<div class="span-5 last">
					@Html.ValidationMessageFor(m => m.Acronym)
					<br />
					@Html.LabelFor(m => m.Acronym)
					<br />
					@Html.TextBoxFor(m => m.Acronym, new { @class = "width160" })
				</div>
		
				<div class="prepend-1 span-5">
					@Html.ValidationMessageFor(m => m.City)
					<br />
					@Html.LabelFor(m => m.City)
					<br />
					@Html.TextBoxFor(m => m.City, new { @class = "width160" })
				</div>
		
				<div class="span-5 last">
					@Html.ValidationMessageFor(m => m.State)
					<br />
					@Html.LabelFor(m => m.State)
					<br />
					@Html.DropDownListFor(m => m.State, Model.States, new { @class = "width160" })
				</div>
		
				<div class="prepend-1 span-5 ">
					@Html.ValidationMessageFor(m => m.RegionId)
					<br />
					@Html.LabelFor(m => m.RegionId)
					<br />
					@Html.DropDownListFor(m => m.RegionId, Model.Regions, new { @class = "width160" })
				</div>
		
				<div class="span-5 last">
					@Html.ValidationMessageFor(m => m.Country)
					<br />
					@Html.LabelFor(m => m.Country)
					<br />
					@Html.DropDownListFor(m => m.Country, Model.Countries, new { @class = "width160" })
				</div>
		
			</div>

			<div class="span-12 last coverBar">

				<h4>Club President / New Driver Information</h4>
		
				<div class="prepend-1 span-5">
					@Html.ValidationMessageFor(m => m.FirstName)
					<br />
					@Html.LabelFor(m => m.FirstName)
					<br />
					@Html.TextBoxFor(m => m.FirstName, new { @class = "width160" })
				</div>
		
				<div class="span-5 last">
					@Html.ValidationMessageFor(m => m.LastName)
					<br />
					@Html.LabelFor(m => m.LastName)
					<br />
					@Html.TextBoxFor(m => m.LastName, new { @class = "width160" })
				</div>
		
				<div class="prepend-1 span-5">
					@Html.ValidationMessageFor(m => m.ScreenName)
					<br />
					@Html.LabelFor(m => m.ScreenName, "RCC Screen Name")
					<br />
					@Html.TextBoxFor(m => m.ScreenName, new { @class = "width160" })
				</div>
		
				<div class="span-5 last">
					@Html.ValidationMessageFor(m => m.EmailAddress)
					<br />
					@Html.LabelFor(m => m.EmailAddress, "Email Address (used for login)")
					<br />
					@Html.TextBoxFor(m => m.EmailAddress, new { @class = "width160" })
				</div>
		
				<div class="prepend-1 span-5">
					@Html.ValidationMessageFor(m => m.Password)
					<br />
					@Html.LabelFor(m => m.Password)
					<br />
					@Html.TextBoxFor(m => m.Password, new { @class = "width160", type = "password" })
				</div>
		
				<div class="span-5 last">
					@Html.ValidationMessageFor(m => m.ConfirmPassword)
					<br />
					@Html.LabelFor(m => m.ConfirmPassword)
					<br />
					@Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "width160", type = "password" })
				</div>
        
				<div class="span-12 last">&nbsp;</div>

				<div class="span-12 last">&nbsp;</div>
        
				<div class="prepend-1 span-2 last">
					<input type="submit" value="Submit" />
				</div>
		
			</div>

		</div>

    </form>

</div>
<div class="span-6 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>
