
@inherits System.Web.Mvc.WebViewPage<ProgressTen.Infrastructure.ViewModels.DriverViewModel>

@section Menu{
	@Html.Partial("_openMenu")
}

<div class="span-4">&nbsp;</div>
<div class="span-14 coverBar">

    <h3>Create New Driver</h3>

    <form action="Add" method="post">

		<div class="prepend-1 span-12 append-1 last">

			<div class="span-12 last coverBar">

				<h4>Driver Information</h4>

				<div class="span-1">&nbsp;</div>

				<div class="span-10 last alert">
					To ensure the highest quality of scoring and ranking of drivers, try to include as much of the following information 
					as possible. There will be thousands of drivers submitted to the ProgressTen.com database and the best results can 
					only be obtained if there is no confusion in the system between drivers. Thank you.
				</div>

				<div class="prepend-1 span-5">
					@Html.ValidationMessageFor(m => m.FirstName)
					<br />
					@Html.LabelFor(m => m.FirstName, "First Name")
					<br />
					@Html.TextBoxFor(m => m.FirstName, new { @class = "width160" })
				</div>
		
				<div class="span-5 last">
					@Html.ValidationMessageFor(m => m.LastName)
					<br />
					@Html.LabelFor(m => m.LastName, "Last Name")
					<br />
					@Html.TextBoxFor(m => m.LastName, new { @class = "width160" })
				</div>
				
				<div class="prepend-1 span-5">
					@Html.ValidationMessageFor(m => m.ScreenName)
					<br />
					@Html.LabelFor(m => m.ScreenName, "RCC Screen Name")
					<br />
					@Html.TextBoxFor(m => m.ScreenName, new { @class = "width160" })
				</div>
		
				<div class="span-5 last">
					@Html.ValidationMessageFor(m => m.EmailAddress)
					<br />
					@Html.LabelFor(m => m.EmailAddress, "Email Address")
					<br />
					@Html.TextBoxFor(m => m.EmailAddress, new { @class = "width160" })
				</div>
		
				<div class="prepend-1 span-5">
					@Html.ValidationMessageFor(m => m.City)
					<br />
					@Html.LabelFor(m => m.City)
					<br />
					@Html.TextBoxFor(m => m.City, new { @class = "width160" })
				</div>
		
				<div class="span-5 last">
					@Html.ValidationMessageFor(m => m.State)
					<br />
					@Html.LabelFor(m => m.State)
					<br />
					@Html.DropDownListFor(m => m.State, Model.States, new { @class = "width160" })
				</div>
		
				<div class="prepend-1 span-5 append-5 last">
					@Html.ValidationMessageFor(m => m.HomeClubId)
					<br />
					@Html.LabelFor(m => m.HomeClubId, "Home Club")
					<br />
					@Html.DropDownListFor(m => m.HomeClubId, Model.Clubs, new { @class = "width160" })
				</div>

				<div class="span-11 last">&nbsp;</div>
				<div class="span-11 last">&nbsp;</div>
        
				<div class="prepend-1 span-2 last">
					@Html.HiddenFor(m => m.EventId)
					@Html.HiddenFor(m => m.ClassId)
					@Html.HiddenFor(m => m.ClubId)
					<input type="submit" value="Submit" />
				</div>
		
			</div>

		</div>

    </form>

</div>
<div class="span-6 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>
