
@inherits System.Web.Mvc.WebViewPage<ProgressTen.Infrastructure.ViewModels.ChangePasswordViewModel>

@section Menu{
	@Html.Partial("_logoutMenu")
}

<div class="span-6">&nbsp;</div>
<div class="span-10 coverBar">

    <h3>Change Password</h3>

    @using(Html.BeginForm("ChangePassword", "Driver", FormMethod.Post, new { driverId = Model.DriverId } )){
		
		@Html.HiddenFor(m => m.DriverId)
		@Html.HiddenFor(m => m.ClubId)
		
		<div class="prepend-2 span-5 last">
			@Html.ValidationMessageFor(m => m.ErrorMessage)
		</div>
		
		<div class="prepend-2 span-5 last">
			@Html.ValidationMessageFor(m => m.OldPassword)
			<br />
			@Html.LabelFor(m => m.OldPassword)
			<br />
			@Html.TextBoxFor(m => m.OldPassword, new { @class = "width160", type = "password" })
		</div>
		
		<div class="prepend-2 span-5 last">
			@Html.ValidationMessageFor(m => m.NewPassword)
			<br />
			@Html.LabelFor(m => m.NewPassword)
			<br />
			@Html.TextBoxFor(m => m.NewPassword, new { @class = "width160", type = "password" })
		</div>
		
		<div class="prepend-2 span-5 last">
			@Html.ValidationMessageFor(m => m.ConfirmNewPassword)
			<br />
			@Html.LabelFor(m => m.ConfirmNewPassword)
			<br />
			@Html.TextBoxFor(m => m.ConfirmNewPassword, new { @class = "width160", type = "password" })
		</div>

		<div class="span-11 last">&nbsp;</div>
		<div class="span-11 last">&nbsp;</div>
        
		<div class="prepend-2 span-2 last">
			<input type="submit" value="Change Password" />
		</div>

	}

</div>
<div class="span-8 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>
