
@inherits System.Web.Mvc.WebViewPage<ProgressTen.Infrastructure.ViewModels.DisplayClubViewModel>
			  
@section Menu{
	@Html.Partial("_logoutMenu")
}

<script type="text/javascript" language="javascript">

	$(function () {
		$("#tabs").tabs();
	});

</script>

<div class="span-22 last coverBar">

	<h3>@(Model.Club.FullName + " (" + Model.Club.Acronym + ")"), Welcome @(Model.Driver.FirstName + " " + Model.Driver.LastName)</h3>

</div>

<div class="span-1">&nbsp;</div>

<div class="span-22" id="tabs">
	<ul>
		<li><a href="#Schedule">Schedule</a></li>
		<li><a href="#Results">Results</a></li>
		<li><a href="#Standings">Standings</a></li>
		<li><a href="#Locations">Locations</a></li>
		<li><a href="#Profile">Driver Profile</a></li>
		@{
			if(User.IsInRole("ClubAdmin"))
			{
				<li><a href="#Drivers">Drivers</a></li>
			}
			
			if(User.IsInRole("SiteAdmin"))
			{
				<li><a href="#Clubs">Clubs</a></li>
			}
		}
	</ul>

	<div id="Schedule">
		<h3>Schedule</h3>
		<div class="span-20 prepend-1 last">
			@Html.Partial("_schedule", Model)
		</div>
	</div>

	<div id="Results">
		<h3>Results</h3>
	</div>

	<div id="Standings">
		<h3>Standings</h3>
	</div>

	<div id="Locations">
		<h3>Locations</h3>
	</div>

	<div id="Profile">
		<h3>Driver Profile</h3>
	</div>
	
	@{
		if (User.IsInRole("ClubAdmin"))
		{
			<div id="Drivers">
				<h3>Driver Management</h3>
			</div>
		}
		
		if (User.IsInRole("SiteAdmin"))
		{
			<div class="span-22 last" id="Clubs">
				@Html.Partial("_clubManagement", Model)
			</div>
		}
	}

</div>

<div class="span-1 last">&nbsp;</div>
