
@inherits System.Web.Mvc.WebViewPage<ProgressTen.Infrastructure.ViewModels.DriverViewModel>

@section Menu{
	@Html.Partial("_logoutMenu")
}

<script type="text/javascript" language="javascript">

	$(document).ready(function () {

		var button = $("#btnAdmin");
		var isAdmin = true;

		if (isAdmin) {
			button.attr("value", "Remove Admin Rights");
		}
		else {
			button.attr("value", "Set As Club Admin");
		}


		$("#HomeClubId").change(function () {
			var originalHomeClubId = $("#OriginalHomeClubId").val();
			var newHomeClubId = $("#HomeClubId option:selected").val();

			var confirmed = confirm("You are about to change your Home Club affiliation. Until your new club approves you as a member, you will not be connected to any club. Do you wish to continue?");

			if (confirmed) {
				if (newHomeClubId != originalHomeClubId) {
					$("#ChangeHomeClubId").val("true");
				}
				else {
					$("#ChangeHomeClubId").val("false");
				}
			}
			else {
				$("#HomeClubId").val(originalHomeClubId);
			}
		});

		button.click(function () {
			button = $("#btnAdmin");
			var value = button.attr("value");

			if (isAdmin) {
				// Remove admin from Driver
				if (confirm("Are you sure you want to remove Admin rights from this user?")) {
					button.attr("value", "Set As Club Admin");
					isAdmin = false;
				}
			}
			else {
				// Set driver as club admin
				if (confirm("Are you sure you want to grant Admin rights to this user?")) {
					button.attr("value", "Remove Admin Rights");
					isAdmin = true;
				}
			}
		});
	});

</script>

<div class="span-4">&nbsp;</div>
<div class="span-14 coverBar">

    <h3>Edit Driver Details</h3>

    @using (Html.BeginForm("Edit", "Driver", FormMethod.Post, new { driverId = Model.DriverId }))
	{

		<div class="prepend-1 span-12 append-1 last">

			<div class="span-12 last">

				@Html.HiddenFor(m => m.DriverId)

				<div class="prepend-1 span-5">
					@Html.ValidationMessageFor(m => m.FirstName)
					<br />
					@Html.LabelFor(m => m.FirstName, "First Name")
					<br />
					@Html.TextBoxFor(m => m.FirstName, new { @class = "width160" })
				</div>
		
				<div class="span-5 last">
					@Html.ValidationMessageFor(m => m.LastName)
					<br />
					@Html.LabelFor(m => m.LastName, "Last Name")
					<br />
					@Html.TextBoxFor(m => m.LastName, new { @class = "width160" })
				</div>
				
				<div class="prepend-1 span-5">
					@Html.ValidationMessageFor(m => m.ScreenName)
					<br />
					@Html.LabelFor(m => m.ScreenName, "RCC Screen Name")
					<br />
					@Html.TextBoxFor(m => m.ScreenName, new { @class = "width160" })
				</div>
		
				<div class="span-5 last">
					@Html.ValidationMessageFor(m => m.EmailAddress)
					<br />
					@Html.LabelFor(m => m.EmailAddress, "Email Address")
					<br />
					@Html.TextBoxFor(m => m.EmailAddress, new { @class = "width160" })
				</div>
		
				<div class="prepend-1 span-5">
					@Html.ValidationMessageFor(m => m.City)
					<br />
					@Html.LabelFor(m => m.City)
					<br />
					@Html.TextBoxFor(m => m.City, new { @class = "width160" })
				</div>
		
				<div class="span-5 last">
					@Html.ValidationMessageFor(m => m.State)
					<br />
					@Html.LabelFor(m => m.State)
					<br />
					@Html.DropDownListFor(m => m.State, Model.States, new { @class = "width160" })
				</div>
		
				<div class="prepend-1 span-5 append-5 last">
					@Html.ValidationMessageFor(m => m.HomeClubId)
					<br />
					@Html.LabelFor(m => m.HomeClubId, "Home Club")
					<br />
					@Html.DropDownListFor(m => m.HomeClubId, Model.Clubs, new { @class = "width160" })
					<input type="hidden" name="OriginalHomeClubId" id="OriginalHomeClubId" value="@(Model.HomeClubId)" />
					<input type="hidden" name="ChangeHomeClubId" id="ChangeHomeClubId" value="false" />
				</div>

				<div class="span-11 last">&nbsp;</div>
				<div class="span-11 last">&nbsp;</div>
        
				<div class="prepend-1 span-5">
					<input type="submit" value="Save Changes" />
				</div>
        
				<div class="span-5 last">
					<input id="btnAdmin" type="button" value="Set As Club Admin" />
				</div>
		
			</div>

		</div>
	}

</div>
<div class="span-6 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>
