
@{
	ViewBag.Title = "Sierra12 - Combat Rifle";
}

@*@section Menu{
	@Html.Partial("_openMenu")
}*@

<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.position.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.autocomplete.js")" type="text/javascript"></script>

<script type="text/javascript" language="javascript">

</script>

<div class="pageTitle">
	Classes
</div>

<div class="titleDivider"></div>

<table class="contentTable">
	<tr>
		<td class="contentLeft">
			<img src="../../Content/Images/JimWithStudent.JPG" alt="Jim providing a some instuction on trigger control" />
		</td>
		<td class="contentRight">
			<h4>Overview of Class Content</h4>
			<ul>
				<li>
					Inspection and recommendations for your fighting load
				</li>
				<li>
					Refinement of common combat shooting positions
				</li>
				<li>
					Combat shooting weapon manipulations
				</li>
				<li>
					Use of cover
				</li>
				<li>
					Combat movements
				</li>
				<li>
					Target discrimination
				</li>
				<li>
					Various fundamental battle drills
				</li>
				<li>
					Lowlight and night time firing principles
				</li>
				<li>
					Buddy Team Fire and Movement Introduction
				</li>
			</ul>

			<h4>Expectations</h4>
			Our Combat Rifle course is not a basic or introductory class for rifle marksmanship or weapon handling and manipulation. 
			For this course we expect that you’ll bring a modern combat rifle, chambered in a fighting caliber, that you are able to 
			safely manipulate and fire it. You don’t have to be a super high-speed, low drag, black-ops, champion shooter, just that 
			you are comfortable and familiar with your rifle. This class is intended to sharpen your skill from there with an emphasis 
			towards a realistic infantry fighting application.
			<br />
			<br />
			Combat training such as we offer requires a basic level of mobility and fitness. We will match the level of physical 
			intensity of the movements and drills to your ability, and there will be plenty of water and rest available throughout 
			the training.
			<br />
			<br />
			You will be living in a field environment and camping on premises. This class does not require that you live solely out 
			of your ruck for the duration, so feel free to bring camping gear such as a tent, cook stoves, chairs, and the like. 
			RV’s and travel trailers will not be able to access the training area and there is no provision to park them elsewhere 
			nearby.

			<h4>Gear and Equipment</h4>
			For the Combat Rifle class, you will need to bring the following:

			<h4>Must Have</h4>
			<ul>
				<li>
					Food and water for two days in dry, desert conditions. 
				</li>
				<li>
					Fighting rifle with at least 500 rounds of ammunition, chambered in a fighting caliber that accepts detachable magazines 
					holding at least 20 rounds each (see Restrictions). The rifle must have a functioning safety switch. 
				</li>
				<li>
					Handgun with at least 100 rounds of ammunition.
				</li>
				<li>
					At least four rifle magazines. A “combat load” of at least seven is preferable.
				</li>
				<li>
					Eye protection
				</li>
				<li>
					Hearing protection; preferably electronic hearing protection so that you can still hear instructors and other conversation 
					clearly while they are on.
				</li>
				<li>
					Canteen, Nalgene or bladder-type water carrier or your choise so long as you carry water on your person at all times.
				</li>
				<li>
					Tactical gloves/mechanic style work gloves 
				</li>
				<li>
					Boots with ankle support 
				</li>
				<li>
					Long pants, hiking or combat style
				</li>
				<li>
					Long sleeved shirt/top 
				</li>
				<li>
					Spare socks & foot powder 
				</li>
				<li>
					Boonie hat, ball cap, or some other clever way to keep sun off your head.
				</li>
			</ul>

			<h4>Should Have</h4>
			<ul>
				<li>
					Load bearing gear such as battle/web belt, tactical vest, plate carrier that can carry magazines, water, and other immediate 
					survival needs. This is optional, but highly recommended. At a minimum you need to be able to carry three spare magazines in 
					a way that they are readily accessible for fast reloads.
				</li>
				<li>
					Insect repellent cream or spray 
				</li>
				<li>
					Knee pads 
				</li>
				<li>
					Rifle sling 
				</li>
				<li>
					Change of clothing 
				</li>
				<li>
					Rifle cleaning kit/lubricant
				</li>
				<li>
					Note pad and pen. We strongly recommend you take lots of notes.
				</li>
				<li>
					Wet weather gear
				</li>
			</ul>
			 
			<h4>Nice To Have</h4>
			<ul>
				<li>
					Elbow pads
				</li>
				<li>
					Magazine dump pouch
				</li>
				<li>
					Patrol pack/daypack
				</li>
			</ul>

			<h4>Restrictions</h4>
			<ul>
				<li>
					Minor children under the age of 18 are allowed to attend our classes with a parent or guardian present during the entirety 
					of the class.
				</li>
				<li>
					300 ACC Blackout is NOT permitted in our classes. There are times when magazines and ammunition get shuffled between 
					students. If a mistake is made and the wrong ammunition loaded, 300 ACC can be chambered into a 5.56 rifle and will cause 
					a catastrophic, possibly fatal failure if fired.
				</li>
				<li>
					Alcoholic beverages will NOT be permitted during the training weekend. 
				</li>
			</ul>

		</td>
	</tr>
</table>

<div>&nbsp;</div>
<div>&nbsp;</div>

<div class="titleDivider"></div>

@*<div class="contentTable">
	<div class="contentRow">
		<div class="leftImage">
			
		</div>

		<div class="rightText">
			
		</div>
	</div>
</div>*@

@*<div class="span-3">&nbsp;</div>

<div class="span-16">

	<div class="ui-widget">
		Go To Club (type ** to list all active clubs)
		<br />
		<input id="clubName" type="text" class="width200" />
	</div>

</div>

<div class="span-5 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>

<div class="span-3">&nbsp;</div>

<div class="span-16 coverBar">

    <h3>Welcome!</h3>
    
    <p>
        ProgressTen.com is now live and in its last sage of development before going full pitch to the RC rock crawling 
		community. We are currently undergoing a short alpha-test period for the next two or three weeks. During 
		this time, only a few selected clubs will be allowed to register and assist in this final phase of testing.</p>

	<p>
		After the alpha-test, we will spend the rest of the 2011-2012 season in a longer beta-test that will last up to 
		and including the USRCCA 2012 Nationals. This beta-test will be open to all clubs and our services offered free 
		of charge. While we're in beta, we will be upgrading the site and adding new features.</p>

</div>

<div class="span-5 last">&nbsp;</div>*@
