
@{
	ViewBag.Title = "Sierra12 - Home";
}

@*@section Menu{
	@Html.Partial("_openMenu")
}*@

<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.position.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.autocomplete.js")" type="text/javascript"></script>

<script type="text/javascript" language="javascript">

</script>

<div class="pageTitle">
	Classes
</div>

<div class="titleDivider"></div>

<table class="contentTable">
	<tr>
		<td class="contentLeft">
			<img src="../../Content/Images/JimWithStudent.JPG" alt="Jim providing a some instuction on trigger control" />
		</td>
		<td class="contentRight">
			<h4>Basic Pistol (1 day, $100)</h4>
			As the name suggests, this is an introductory class that teaches the beginning or novice shooter to confidently and safely 
			operate a handgun. We cover the principles of firearm safety, the mechanics and maintenance of semi-automatic pistols, and 
			proper handling and control. Students will receive a steady mix of lecture and practical range exercise with instructors. 
			We pride ourselves on providing beginning shooters with a relaxed and low-stress atmosphere and foster a healthy respect 
			rather than fear of handguns and shooting safety.
			<br />
			<br />
			Next scheduled class: TBD

			<h4>Basic Rifle (1 day, $100)</h4>
			This class is geared toward the new enthusiast of modern semi-automatic rifles and the person who would like to become better 
			familiar and comfortable with their rifle. We know that they can seem complicated and we step students through each facet of 
			handling and operating the rifle with safety and confidence. We'll also cover basic teardown, maintenance and proper care of 
			the modern battle rifle.
			<br />
			<br />
			Next scheduled class: TBD

			<h4>Defensive Pistol (2 day, $200)</h4>
			This course is focused on the carry and use of a pistol in defensive situations for the more experienced shooter. It is NOT 
			intended as a replacement for CCW training which stresses the legalities of personal carry. This class will take you beyond 
			the study of the laws governing the use of deadly force, to proper reactions and techniques to employ a handgun in a deadly 
			defensive encounter. You'll learn advanced techniques for increasing firing speed and accuracy, as well as moving to and 
			employing cover, advanced weapon manipulations, and target discrimination.
			<br />
			<br />
			Next scheduled class: TBD

			<h4>Combat Rifle (2 day, $300)</h4>
			This is not a basic marksmanship class. If you're an experienced shooter who is ready to learn to shoot in a more practical 
			way, at realistic engagement distances out to 300 yards and beyond, this class will take you well past the focused, short-range 
			shooting to which you might be accustomed. You'll be introduced to the concept of a 360 degree range and hot weapons, you'll 
			learn new shooting positions, and how to perform typical combat tasks under stress, in field conditions. The class will 
			culminate in an introduction to live-fire Team Fire and Movement.
			<br />
			<br />
			Next scheduled class: May 3 & 4, 2014

			<h4>Team Fire and Movement (2 day, $300)</h4>
			To be truly prepared to fight and survive in a hostile environment, you need to be able to shoot, move, and communicate as a 
			team. This class will introduce you to the fundamentals of reacting to the most common types of violent contact, and introduce 
			you to infantry battle drills that will increase your ability to suppress an enemy well enough to either defeat a weaker force 
			or escape a superior force. This class is not for the inexperienced shooter. Because this class involves, advanced abilities to 
			safely operate your rifle as well as live fire and movement, we require that you already have attended our Combat Rifle class.
			<br />
			<br />
			Next scheduled class: June 7 & 8, 2014
			

			<h4>Security Patrolling (2 day, $300)</h4>
			This class requires that you already have attended our Team Fire and Movement class. Now that you know how to react to a combat 
			situation, you are ready to learn how to move through terrain and patrol an area to maintain security and safety of your team. 
			Through all our previous classes that build up to this one, you've learned the skills needed to be able to effectively deal with 
			an enemy confrontation, now that you have those skills, you can effectively take on the task of securing a wider area. There's a 
			phrase in the infantry, "if you don't patrol it, you don't own it". With these vital skills, you'll be able reach out and identify 
			threats before they arrive on your doorstep; when it's too late. In this class, you'll learn about camouflage and concealment, 
			use of terrain to navigate and move with stealth, effective patrol formations for different situations, mission planning and 
			objectives, patrolling and moving by night, team security and communication, gear and packing considerations, light and noise 
			discipline, and tips for living for days at a time in a primitive environment with only what you can carry to survive.
			<br />
			<br />
			Next scheduled class: July 5 & 6, 2014
			

			<h4>Orienteering and Land Navigation (1 day, $100)</h4>
			In this class we teach the basics of land navigation using map and compass. We cover how to read topographical maps and match that to 
			the surrounding terrain, how to determine your location and navigate using a magnetic compass, and the principles of identifying key 
			terrain features. All of our navigation instruction takes place out in the field, learning by doing real exercises.
			<br />
			<br />
			Next scheduled class: TBD
			

			<h4>Exercise Weekends (2 or 3 day, $80)</h4>
			Our Exercise Weekends are when we, the instructors at Sierra12 get out to hone our own skills as a team. We practice what we preach, so 
			when we preach to our students that they have to get out often and work these skills after a class to improve them, we do just that. 
			We've opened these weekends up to graduates of our Security Patrolling class to give our students a chance to train with us. Some 
			weekends are simulated, real-world missions, others are battle drills or other critical skills on the range. The benefit to our students 
			is that beyond scenarios and missions, we will provide instruction and help to students where needed. We set up the scenario, stage any 
			logistics, coordinate with any support or auxiliary in the area and issue the mission orders. We work as a team, side-by-side with our 
			students to help improve the skills of us all. We like to include our students in our own personal training because we firmly believe 
			the better everyone gets, the better it is for all of us in the long run.
			<br />
			<br />
			Next scheduled event: TBD
			
		</td>
	</tr>
</table>

<div>&nbsp;</div>
<div>&nbsp;</div>

<div class="titleDivider"></div>

@*<div class="contentTable">
	<div class="contentRow">
		<div class="leftImage">
			
		</div>

		<div class="rightText">
			
		</div>
	</div>
</div>*@

@*<div class="span-3">&nbsp;</div>

<div class="span-16">

	<div class="ui-widget">
		Go To Club (type ** to list all active clubs)
		<br />
		<input id="clubName" type="text" class="width200" />
	</div>

</div>

<div class="span-5 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>

<div class="span-3">&nbsp;</div>

<div class="span-16 coverBar">

    <h3>Welcome!</h3>
    
    <p>
        ProgressTen.com is now live and in its last sage of development before going full pitch to the RC rock crawling 
		community. We are currently undergoing a short alpha-test period for the next two or three weeks. During 
		this time, only a few selected clubs will be allowed to register and assist in this final phase of testing.</p>

	<p>
		After the alpha-test, we will spend the rest of the 2011-2012 season in a longer beta-test that will last up to 
		and including the USRCCA 2012 Nationals. This beta-test will be open to all clubs and our services offered free 
		of charge. While we're in beta, we will be upgrading the site and adding new features.</p>

</div>

<div class="span-5 last">&nbsp;</div>*@
