
@{
	ViewBag.Title = "Sierra12 - Home";
}

@*@section Menu{
	@Html.Partial("_openMenu")
}*@

<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.position.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.autocomplete.js")" type="text/javascript"></script>

<script type="text/javascript" language="javascript">

</script>

<div class="pageTitle">
	Classes
</div>

<div class="titleDivider"></div>

<table class="contentTable">
	<tr>
		<td class="contentLeft">
			<img src="../../Content/Images/JimWithStudent.JPG" alt="Jim providing a some instuction on trigger control" />
		</td>
		<td class="contentRight">
			<h4>Basic Pistol (1 day, $100)</h4>
			As the name suggests, this is an introductory class that teaches the beginning or novice shooter to confidently and safely 
			operate a handgun. We cover the priciples of firearm safety, the mechanics and maintenance of semi-automaic pistols, and 
			proper handling and control. Students will recieve a steady mix of lecture and practical range exercise with instructors. 
			We pride ourselves on providing beginning shooters with a realxed and low-stress atmosphere and foster a healthy respect 
			rather than fear of handguns and shooting safety.
			<br />
			<br />
			Next scheduled class: TBD

			<h4>Basic Rifle (1 day, $100)</h4>
			This class is geared toward the new enthusiast of modern semi-automatic rifles and the person who would like to become better 
			familiar and comfortable with their rifle. We know that they can seem complicated and we step students through each facet of 
			handling and operating the rifle with safety and confidence. We'll also cover basic teardown, maintenance and  proper care of 
			the modern battle rifle.
			<br />
			<br />
			Next scheduled class: TBD

			<h4>Defensive Pistol (1 day, $150)</h4>
			This course is focused on the carry and use of a pistol in defensive situations for the more experienced shooter. It is NOT 
			intended as a replacement for CCW training which stresses the legalities of personal carry. This class will take you beyond 
			the study of the laws governing the use of deadly force, to proper reactions and techniques to employ a handgun in a deadly 
			defensive encounter. You'll learn advanced techniques for increasing firing speed and accuracy, as well as moving to and 
			employing cover, advanced weapon manipulations, and target discrimination.

			<h4>Combat Rifle (2 day, $300)</h4>
			This is not a basic marksmanship class. If you're an experienced shooter who is ready to learn to shoot in a more practical 
			way, at realistic engagement distances, this class will take you beyond the focused, short-range shooting to which you might 
			be accostomed. You'll be introduced to the concept of a 360 degree range and hot weapons, you'll learn new shooting positions, 
			and how to perform typical combat tasks under stress, in field conditions. The class will culminate in an introduction to 
			live-fire team fire and movement.

			<h4>Team Fire and Movement (2 day, $300)</h4>
			

			<h4>Security Patrolling (2 day, $300)</h4>
			

			<h4>Orienteering and Land Navigation (1 day, $100)</h4>
			

			<h4>Patrolling Exercise Weekends (2 or 3 day, $150)</h4>
			
		</td>
	</tr>
</table>

@*<div class="contentTable">
	<div class="contentRow">
		<div class="leftImage">
			
		</div>

		<div class="rightText">
			
		</div>
	</div>
</div>*@

@*<div class="span-3">&nbsp;</div>

<div class="span-16">

	<div class="ui-widget">
		Go To Club (type ** to list all active clubs)
		<br />
		<input id="clubName" type="text" class="width200" />
	</div>

</div>

<div class="span-5 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>

<div class="span-3">&nbsp;</div>

<div class="span-16 coverBar">

    <h3>Welcome!</h3>
    
    <p>
        ProgressTen.com is now live and in its last sage of development before going full pitch to the RC rock crawling 
		community. We are currently undergoing a short alpha-test period for the next two or three weeks. During 
		this time, only a few selected clubs will be allowed to register and assist in this final phase of testing.</p>

	<p>
		After the alpha-test, we will spend the rest of the 2011-2012 season in a longer beta-test that will last up to 
		and including the USRCCA 2012 Nationals. This beta-test will be open to all clubs and our services offered free 
		of charge. While we're in beta, we will be upgrading the site and adding new features.</p>

</div>

<div class="span-5 last">&nbsp;</div>*@
