
@{
	ViewBag.Title = "Sierra12 - Home";
}

@*@section Menu{
	@Html.Partial("_openMenu")
}*@

<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.position.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.autocomplete.js")" type="text/javascript"></script>

<script type="text/javascript" language="javascript">

</script>

<div class="pageTitle">
	Contact
</div>

<div class="titleDivider"></div>

<table class="contentTable">
	<tr>
		<td class="contentLeft">
			<img src="../../Content/Images/Gear.JPG" alt="Jim providing a some instuction on trigger control" />
		</td>
		<td class="contentRight">
			For class information, we can be reached by email at: training@sierra12.com
			<br />
			<br />
			If you'd like to speak to us, be sure to let us know who you're after and 
			include your phone number. We'll get back to you at our earliest opportunity.
		</td>
	</tr>
</table>

<div>&nbsp;</div>
<div>&nbsp;</div>

<div class="titleDivider"></div>

@*<div class="contentTable">
	<div class="contentRow">
		<div class="leftImage">
			
		</div>

		<div class="rightText">
			
		</div>
	</div>
</div>*@

@*<div class="span-3">&nbsp;</div>

<div class="span-16">

	<div class="ui-widget">
		Go To Club (type ** to list all active clubs)
		<br />
		<input id="clubName" type="text" class="width200" />
	</div>

</div>

<div class="span-5 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>

<div class="span-3">&nbsp;</div>

<div class="span-16 coverBar">

    <h3>Welcome!</h3>
    
    <p>
        ProgressTen.com is now live and in its last sage of development before going full pitch to the RC rock crawling 
		community. We are currently undergoing a short alpha-test period for the next two or three weeks. During 
		this time, only a few selected clubs will be allowed to register and assist in this final phase of testing.</p>

	<p>
		After the alpha-test, we will spend the rest of the 2011-2012 season in a longer beta-test that will last up to 
		and including the USRCCA 2012 Nationals. This beta-test will be open to all clubs and our services offered free 
		of charge. While we're in beta, we will be upgrading the site and adding new features.</p>

</div>

<div class="span-5 last">&nbsp;</div>*@
