
@{
	ViewBag.Title = "Sierra12 - Home";
}

@*@section Menu{
	@Html.Partial("_openMenu")
}*@

<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.position.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@("http://" + Request.Url.Authority + "/Content/Scripts/jquery.ui.autocomplete.js")" type="text/javascript"></script>

<script type="text/javascript" language="javascript">

</script>

<div class="pageTitle">
	Welcome
</div>

<div class="titleDivider"></div>

<table class="contentTable">
	<tr>
		<td class="contentLeft">
			<img src="../../Content/Images/JimAndJason.JPG" alt="Jim and Jason fielding questions on the range" />
		</td>
		<td class="contentRight">
			Welcome to Sierra12 Defensive Studies Group. The southwest’s leading defensive training company. Located in Phoenix, Arizona 
			we offer firearms and survival training for the defense of yourself, your family, and your community. We specialize in 
			teaching in progression from basic firearms safety and handling, through advanced combat marksmanship and reaction to 
			hostile actions, culminating in small unit security patrolling.

			<h4>What’s In A Name?</h4>
			The UTM navigational grid system divides the world into alpha-numeric sections. The section S12 is made up almost entirely of 
			Arizona and all of Arizona sits in S12.  We chose this name because we are Arizonans and we teach in Arizona for survival and 
			defense techniques specific to Arizona’s mountains and deserts. 

			<h4>What We Teach</h4>
			We offer a full line of classes that are designed to take a student from a beginning shooter through having the skill and 
			ability to defend your community as a part of a team, working in mutual support. While our basic rifle and pistol classes 
			are the traditional firearms training that teach the beginning shooter the proper methods of safe and effective weapon 
			handling and operation, our advanced classes take the shooter beyond traditional, competition-based rifle and pistol training. 
			The skills we teach are based on decades-old, proven infantry combat techniques, adapted to the application of the civilian 
			who might find themselves in a hostile situation. 

			<h4>Who We Are</h4>
			Sierra12 is run by combat veterans who know what works, what doesn’t and are able to help guide our students through the noise 
			of this crowded market of tactics and equipment. We know that most of our students are not military or combat veterans and 
			strive to cut through the labyrinth of military jargon and acronyms. We keep our content focused on the context of civilian 
			defensive needs and probable scenarios of a survival situation. Sierra12 is values family, community and team over all else. 
			We raise the team by raising each individual to be a better member of their team.
		</td>
	</tr>
</table>

<div>&nbsp;</div>
<div>&nbsp;</div>

<div class="titleDivider"></div>

@*<div class="contentTable">
	<div class="contentRow">
		<div class="leftImage">
			
		</div>

		<div class="rightText">
			
		</div>
	</div>
</div>*@

@*<div class="span-3">&nbsp;</div>

<div class="span-16">

	<div class="ui-widget">
		Go To Club (type ** to list all active clubs)
		<br />
		<input id="clubName" type="text" class="width200" />
	</div>

</div>

<div class="span-5 last">&nbsp;</div>

<div class="span-24 last">&nbsp;</div>

<div class="span-3">&nbsp;</div>

<div class="span-16 coverBar">

    <h3>Welcome!</h3>
    
    <p>
        ProgressTen.com is now live and in its last sage of development before going full pitch to the RC rock crawling 
		community. We are currently undergoing a short alpha-test period for the next two or three weeks. During 
		this time, only a few selected clubs will be allowed to register and assist in this final phase of testing.</p>

	<p>
		After the alpha-test, we will spend the rest of the 2011-2012 season in a longer beta-test that will last up to 
		and including the USRCCA 2012 Nationals. This beta-test will be open to all clubs and our services offered free 
		of charge. While we're in beta, we will be upgrading the site and adding new features.</p>

</div>

<div class="span-5 last">&nbsp;</div>*@
