
@inherits System.Web.Mvc.WebViewPage<ProgressTen.Infrastructure.ViewModels.DisplayClubViewModel>

<h3>Driver Management</h3>

@*<div class="span-21 last">&nbsp;</div>*@

<div class="span-21 last">
	@*<div class="span-21 last headerBar">
		<h4>New Driver Applications</h4>
	</div>

	<div class="span-21 last">
		<table class="width100pc">
			<tr>
				<th>
					Name
				</th>
				<th>
					RCC Screen Name
				</th>
				<th>
					Email Address
				</th>
				<th>
					Date Submitted
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>

			@{
				foreach (var driver in Model.DriversApplied)
				{
					<tr>
						<td>
							@driver.FullName
						</td>
						<td>
							@driver.RccScreenName
						</td>
						<td>
							@driver.EmailAddress
						</td>
						<td>
							@driver.DateCreated.ToString("MM/dd/yyyy")
						</td>
						<td>
							<a href="@("http://" + Request.Url.Authority + "/Driver/Approve/" + driver.DriverId + "/Club/" + Model.Club.ClubId)">Approve</a>
						</td>
						<td>
							<a href="@("http://" + Request.Url.Authority + "/Driver/Decline/" + driver.DriverId + "/Club/" + Model.Club.ClubId)">Decline</a>
						</td>
					</tr>
				}
			}
		</table>
	</div>

	<div class="span-21 last">&nbsp;</div>
	<div class="span-21 last">&nbsp;</div>
	<div class="span-21 last">&nbsp;</div>
	
	<div class="span-21 last headerBar">
		<h4>Drivers</h4>
	</div>*@

	<div class="span-21 last">
		<a href="@("http://" + Request.Url.Authority + "/Driver/Add/Club/" + Model.Club.ClubId + "/Event/0/Class/0")">Create New Driver</a>
	</div>

	<div class="span-21 last">&nbsp;</div>

	<div class="span-21 last">
		<table class="width100pc">
			<tr>
				<th>
					Name
				</th>
				<th>
					RCC Screen Name
				</th>
				<th>
					Email Address
				</th>
				<th>
					Date Activated
				</th>
				<th>
					Status
				</th>
				<th>
					&nbsp;
				</th>
			</tr>

			@{
				foreach (var driver in Model.ApprovedDrivers)
				{
					<tr>
						<td>
							@driver.FullName
						</td>
						<td>
							@driver.RccScreenName
						</td>
						<td>
							@driver.EmailAddress
						</td>
						<td>
							@(driver.DateActivated.HasValue ? driver.DateActivated.Value.ToString("MM/dd/yyyy") : string.Empty)
						</td>
						<td>
							@(driver.DateCancelled.HasValue ? "Inactive" : "Active")
						</td>
						<td>
							<a href="@("http://" + Request.Url.Authority + "/Driver/Edit/" + driver.DriverId + "/Club/" + Model.Club.ClubId)" >Edit</a>
						</td>
					</tr>
				}
			}
		</table>
	</div>

	<div class="span-1 last">&nbsp;</div>
</div>
