
@inherits System.Web.Mvc.WebViewPage<ProgressTen.Infrastructure.ViewModels.DisplayClubViewModel>

<div class="span-21 last">

	<div class="span-5">&nbsp;</div>

	<div class="span-10 last coverBar">

		<h4>@Model.Club.Acronym Locations</h4>

		<div class="span-10 last">
			<table class="width100pc" border="1px">
				@{
					foreach (var location in Model.Club.Locations.OrderBy(l => l.Name).ToList())
					{
						<tr>
							<td>
								@location.Name
							</td>
							<td>
								<a href="@(location.Url)" target="_blank">View Map</a>
							</td>
							@{
								if((User.IsInRole("ClubAdmin_" + Model.Club.ClubId) || User.IsInRole("SiteAdmin")))
								{
									<td>
										<a href="@("http://" + Request.Url.Authority + "/Location/Edit/" + location.LocationId + "/Club/" + Model.Club.ClubId)">Edit</a>
									</td>
								}
							}
						</tr>
					}
				}
			</table>
		</div>
		
		@{
			if ((User.IsInRole("ClubAdmin_" + Model.Club.ClubId) || User.IsInRole("SiteAdmin")))
			{
				<a href="@("http://" + Request.Url.Authority + "/Location/Add/" + Model.Club.ClubId)">New Location</a>
			}
		}

	</div>

	<div class="span-20 last">&nbsp;</div>
</div>