
@inherits System.Web.Mvc.WebViewPage<ProgressTen.Infrastructure.ViewModels.ResultsViewModel>
			  
@section Menu{
	@Html.Partial("_logoutMenu")
}

<script type="text/javascript" language="javascript">

	$(function () {
		$("#tabs").tabs();
	});

</script>

<div class="span-1">&nbsp;</div>

<div class="span-22 coverBar">

	<h3>@Model.Event.Name</h3>

</div>

<div class="span-1 last">&nbsp;</div>

<div class="span-1">&nbsp;</div>

<div class="span-22 last" id="tabs">

	<ul>
	@{
		foreach(var resultGroup in Model.Results)
		{
			<li><a href="@("#" + resultGroup.ClassId)">@(resultGroup.ClassName + " Scores")</a></li>
		}
	}
	</ul>
	@{
		foreach (var resultGroup in Model.Results)
		{
			<div id="@resultGroup.ClassId">
				<table>
					<tr>
						<th>
							Place
						</th>
						<th>
							Driver
						</th>
						@{
							for(int i = 0; i < Model.Event.NumberOfCourses; i ++)
							{
								<th>@("Course " + (i + 1))</th>
							}
						}
						<th>
							Total
						</th>
						<th>
							Points Earned
						</th>
						<th>
							&nbsp;
						</th>
					</tr>
					@{
						int placeCounter = 0;
					
						foreach (var result in resultGroup.Results.OrderBy(r => r.TotalScore))
						{
							<tr>
								<td>
									@result.Place
								</td>
								<td>
									<a href="@("http://" + Request.Url.Authority + "/Score/Edit/Event/" + Model.Event.EventId + "/Club/" + Model.Event.ClubId + "/Class/" + resultGroup.ClassId + "/Driver/" + result.DriverId)">@result.Driver.FullDisplayName</a>
								</td>
								@{
									foreach (var score in result.Scores.OrderBy(s => s.CourseNumber))
									{
										<td>@score.CourseScore</td>
									}
								}
								<td>
									@result.TotalScore
								</td>
								<td>
									@result.PointsEarned
								</td>
								<td>
									<a href="@("http://" + Request.Url.Authority + "/Result/Delete/" + result.ResultId + "/Event/" + result.EventId + "/Club/" + Model.Event.ClubId)">Delete</a>
								</td>
							</tr>
						}
					}
				</table>
				<a href="@("http://" + Request.Url.Authority + "/Score/Add/Event/" + Model.Event.EventId + "/Club/" + Model.Event.ClubId + "/Class/" + resultGroup.ClassId)" >Add New Result For Driver</a>
				<br />
				<br />
				<a href="@("http://" + Request.Url.Authority + "/Club/" + Model.Event.ClubId + "/Series/" + Model.Event.SeriesId)" >Return To Club Page</a>
			</div>
		}
	}

</div>
